<!DOCTYPE html>
<html lang="en">
	<head>
	
	<meta charset="utf-8">
		
		<meta name="description" content="Weblood is a system that aids in saving the lives of individuals who require blood donation. 
		Also,enables blood donors to donate blood safely, effectively, and at the site that is closest to them"> 

		<meta name="keywords" content="Blood Donation, Donating Blood, nearest Blood donation site, WEBLOOD">
		<meta name="author" content="Renad, Leen, Noaf"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		 <title> WEBLOOD </title>
		<!-- <link rel="stylesheet" href="css_reset.css"> -->
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	
	</head>
	
	<body>
		<header>
			
		<h1> WEBLOOD </h1>
		<img src ="../images/logo.png" alt ="logo" width="100" height="100" align="left" class="logo" style=" border-radius: 50px 20px; position: absolute; margin:auto; margin-left: 10px;; ">
	
		</header>





	
		<ul >
		  <li><a href="/">Home</a></li>
		  <li><a href= "/AboutUs">About Us</a></li>
		  <li><a href="/Donate">Donate</a></li>
		  <li><a href="/FAQ">FAQ</a></li>
		  <li><a href="/ContactUs">Contact Us</a></li>
		  <li><a href="/donations/viewall" id="admin-login-link">View ALL Donations</a></li>
	
		</ul>
