
		
		<!DOCTYPE html>
		<html lang="en">
			<head>
			
			<meta charset="utf-8">
				
				<meta name="description" content="Weblood is a system that aids in saving the lives of individuals who require blood donation. 
				Also,enables blood donors to donate blood safely, effectively, and at the site that is closest to them"> 
		
				<meta name="keywords" content="Blood Donation, Donating Blood, nearest Blood donation site, WEBLOOD">
				<meta name="author" content="Renad, Leen, Noaf"> 
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
				 <title> WEBLOOD </title>
				<!-- <link rel="stylesheet" href="css_reset.css"> -->
				<link rel="stylesheet" href="../css/style.css">
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
				<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
			<style>

		  #h1{
				margin-top: 30px;
				margin-left: 160px;
				margin-bottom: 5px; 
			}
			
		
			  footer{
				background-color:#ECBEBE;
			  }
			
			
			  
			</style>
			
			</head>
			
			<body>
				<%- include('./partials/header.ejs') %>


		<h1 id="h1"> About Us</h1>
		<p > <b> 
		By gathering blood from donors and sending it to hospitals that need it, the "weblood" System's primary objective is to save lives. 
		Additionally, it makes it quick and simple for donors to deliver their blood to the closest facility. 
		In Riyadh, Kingdom of Saudi Arabia, "weblood" intends to promote blood donation and create a platform that makes it simpler for all 
		donors to donate. 
		Weblood is an organization that helps those who need blood donations and the people who wants to donate. 
		We serve as a middleman between the hospital and the potential donor. 
		Weblood seeks to make the procedure simpler and easier for both the patient and the hospital and the doner. 
		Additionally, Weblood assists blood donors in giving blood in a safe, efficient manner at the location that is most convenient for them.
		</p>
		
		
	</body>
	
	</html>