

		
<!DOCTYPE html>
<html lang="en">
  <head>
  
  <meta charset="utf-8">
    
    <meta name="description" content="Weblood is a system that aids in saving the lives of individuals who require blood donation. 
    Also,enables blood donors to donate blood safely, effectively, and at the site that is closest to them"> 

    <meta name="keywords" content="Blood Donation, Donating Blood, nearest Blood donation site, WEBLOOD">
    <meta name="author" content="Renad, Leen, Noaf"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <title> WEBLOOD </title>
    <!-- <link rel="stylesheet" href="css_reset.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-uT2RtYf3Xt0tB0K+2lOJ9LRGw2v/2CzWJhNqy5G6pZaJ+Jr5sU3PvZk8P0S3mH8J0WbK2T2p8WtbYiQlS6A+2g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
 
  
  video{
      align-items: center;
      padding: 25px 75px 75px 100px;
  }

    footer{
    background-color:#ECBEBE;
    }
    
    
  </style>
  
  </head>
  <script>
    function logout() {
      window.location.href = "/logoutadmin";
    }
   




    </script>
  <body>
    <%- include('./partials/header.ejs') %>

<div style="text-align: center;">
    <h1 >Welcome to admin dashboard </h1>
    <p >You Are Authenticated!</p>
   <!----> 
   <h1>Welcome, <%= name %>!</h1>
  
  
  <button onclick="logout()">Logout</button>

  <div>
    
    <button> <a href="/donations/viewall" onclick="logout()" class="btn btn-primary">view donations</a></button> 
  </div>

</div>
</body>
<%- include('./partials/footer.ejs') %>
</html>