
		
		<!DOCTYPE html>
		<html lang="en">
			<head>

			<meta charset="utf-8">
				
				<meta name="description" content="Weblood is a system that aids in saving the lives of individuals who require blood donation. 
				Also,enables blood donors to donate blood safely, effectively, and at the site that is closest to them"> 
		
				<meta name="keywords" content="Blood Donation, Donating Blood, nearest Blood donation site, WEBLOOD">
				<meta name="author" content="Renad, Leen, Noaf"> 
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
				 <title> WEBLOOD </title>
				<!-- <link rel="stylesheet" href="css_reset.css"> -->
				<link rel="stylesheet" href="../css/style.css">
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
				<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
			<style>
		  h1{
				margin-top: 30px;
				margin-left: 160px;
				margin-bottom: 5px; 
			}
		
			  
			  
			</style>
			
			</head>
			<script>
				setTimeout(function() {
				  window.location.href = "/donations/viewall";
				}, 3000); // 10000 milliseconds = 10 seconds
			  </script>
			<body>
				<%- include('./partials/header.ejs') %>


		<h1 style="align-items: center; margin-left: 15%;"> Deleted </h1>
		<p> <b>
			Donation Record Deleted.
		</p>
		
		
	</body>
	
	</html>