
		<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Donation</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
	<style>
		
		
		
		button {
		  width: 90%;
		  height: 50px;
		  border-radius: 5px;
		  color: #fff;
		  background: #C41E3A;
		  cursor: pointer;
		  margin: 7px 10px 8px 15px;
		  border: 0;
		  font-size: 15px;
		}
		
		button:hover {
		  background: #be6e6e;
		}
		
		.container {
		width: 70%;
		margin: 50px 100px 75px 165px;
		padding: 30px;
		background-color: white;
		border: solid 2px #E5E4E2;
		
		}

		
	div {
  background-color: white;
  width: 300px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
 
 
}



a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#la:visited 
{
    text-decoration: none;
    

	color: white;
}
	</style>
</head>


<body>
	<%- include('./partials/header.ejs') %>
		
		
	<div class="container">	 
	
			<h1  style="text-align: center">New Donation </h1>
			<div> 
			<p>
				<h3 style="text-align: center;">Case 1</h3> <br>
			Name: Sara Nasser <br>		
			Age: 17 <br>			
			city: Riyadh<br>	
			contact: 0544359586 <br>
			<button > <a id="la" href="/donations/add"> Donate </a> </button> 
			
			</p>
			</div> 
			
			<div> 
			<p>
				<h3 style="text-align: center;">Case 2</h3> <br>
			Name:  Nasser Saud <br>	 		
			Age: 35	<br>		
			city: Jeddah <br>	
			contact: 0564790824 <br>
			<button> <a id="la" href="/donations/add"> Donate </a> </button> 
			
			</p>
			</div> 
			
			<div> 
			<p>
				<h3 style="text-align: center;">Case 3</h3> <br>
			Name:  Ahmed Saleh <br>		
			Age: 20	<br>	
			city: Qassim<br>	
			contact: 0502461560 <br>
			<button> <a id="la" href="/donations/add"> Donate </a> </button> 
			
			</p>
			</div> 
			<div> 
			<p>
				
				<h3 style="text-align: center;">Case 4</h3> <br>
			Name: Nourah Mohamed <br>		
			Age: 50	<br>	
			city:Hail<br>	
			contact: 0556248593 <br>
			<button> <a id="la" href="/donations/add"> Donate </a> </button> 
			
			</p>
			</div> 
			
			</div>
		
		
		
</body>
<%- include('./partials/footer.ejs') %>

</html>