
		
		<!DOCTYPE html>
		<html lang="en">
			<head>
			
			<meta charset="utf-8">
				
				<meta name="description" content="Weblood is a system that aids in saving the lives of individuals who require blood donation. 
				Also,enables blood donors to donate blood safely, effectively, and at the site that is closest to them"> 
		
				<meta name="keywords" content="Blood Donation, Donating Blood, nearest Blood donation site, WEBLOOD">
				<meta name="author" content="Renad, Leen, Noaf"> 
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
				 <title> WEBLOOD </title>
				<!-- <link rel="stylesheet" href="css_reset.css"> -->
				<link rel="stylesheet" href="../css/style.css">
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
				<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
			<style>
		  #h1{
				margin-top: 30px;
				margin-left: 160px;
				margin-bottom: 5px; 
			}
			
			video{
					align-items: center;
				  padding: 25px 75px 75px 100px;
			}
		
			  footer{
				background-color:#ECBEBE;
			  }

			  
			  
			  
			</style>
			
			</head>
			
			<body>
				<%- include('./partials/header.ejs') %>


		<h1 id="h1"> Thanks! </h1>
		<p> <b>
		Thank you for making the selfless decision to donate blood! <br>
			Your generosity and willingness to give have the power to save lives and make a meaningful impact in the world. <br>
			Your donation is truly appreciated and will go a long way in helping those in need. <br>
			Thank you for being a hero to someone in need and for making a difference in the lives of others.<br><br><br>

			We will contact with you soon.
		</p>
		
		
	</body>

	</html>